{% extends 'base.html' %}
{% block title %}Preview your message{% endblock %}

{% block content %}

<ul class="messages">
 <li class="success">
  Are you sure you want to send this message?
  <div id="confirm-post">
   <form method="post">
    <input type="submit" name="post" value="Yes, send it now" />
    <input type="submit" name="delete" value="No, bin it" />
   </form>
  </div>
 </li>
</ul>

<div id="mailthread" class="preview">
{% include "fragments/mail.html" %}
</div>



{% endblock %}

