{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}

{% block content %}

<div class="span-2">
<form method="post">

<table>

{{ form.as_table }}

<tr>
 <td></td>
 <td>
  <input type="submit" value="preview email" />
 </td>
</tr>
</table>

</form>
</div>

<div class="span-1 last">
 {% if messages %}
 <h2>You've started the following threads:</h2>
 <ul>
 {% for mail in messages %}
   <li><a href="{{ mail.get_absolute_url }}">{{ mail.subject }}</a> (created {{ mail.created|date:"d/m/Y"}}, {% if mail.sent %}sent{% else %}pending moderator approval{% endif %})</li>
 {% endfor %}
 </ul>
 {% endif %}
</div>


{% endblock %}

