html {font-size:100.01%;}

body { 
  font-size:85%;
  font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
  background: #135965 url(bg.jpg) no-repeat;
}



h1, h2, h3, h4, h5, h5 {
 color: black;
 font-weight: normal;
 margin: 0;
 padding: 0;
 border: 0;
}

#main {
 background: #eee;
 color: black;
}

a {
 color: #006e96;
}

#header {
 vertical-align: bottom;
}

#header a {
 color: white;
}


#header #pages {
 text-align: left;
}
#header #actions {
 text-align: right;
}
#header ul, #footer ul {
 margin: 0;
 padding: 0;
}


#header div ul {
 padding: 0;
}

#header div ul li, #footer div ul li {
 list-style: none;
 display: inline;
 padding: 0;
 padding-right: 2em;
}


.errorlist {
 margin: 0;
 color: red;
 list-style: none;
 font-size: 80%;
 font-style: italic;
}

tr.errors td input {
 border: solid red 2px;
}

span.required {
 color: red;
 float: right;
}

input {
 font-size: 110%;
}
p.helptext {
 font-size: 80%;
 font-style: italic;
 margin-top:3px;
}

div.message {
 white-space: pre-wrap;
}

div.email.thread {
 margin-bottom: 10px;
}

div.email span.label {
 display: block;
 float: left;
 width: 5em;
}

div.email div.header {
 background-color: #C3D9FF;
 color: gray;
}

div.email div.headers {
 padding: 0 10px 10px 10px;
}
div.email {
 border-radius: 5px;
 border: solid #C3D9FF 3px;
}

div.email div.anchor {
 float: left;
}

div.email div.anchor a {
 text-decoration: none;
 color: #C3D9FF;
}

.visible {
 color: red!important;
}


div#inbox h3 {
 background: transparent url(bluegrad.png) repeat-x; 
 color: white;
 padding: 5px;
 font-weight: bolder;
 margin-top: 20px;
}

div#inbox table  {
 padding: 0;
}

div#inbox table td {
 padding: 3px 3px 3px 0px;
 vertical-align: top;
}

div#inbox table td.timeago {
 font-size: 0.9em;
}

div#inbox table tr td {
 background: transparent url(horizontal_line.png) no-repeat;
}

div#confirm-post {
 padding: 1em;
}

ul.messages {
 margin: 0;
 padding: 0;
}

ul.messages li {
 list-style: none;
}

.error, .notice, .success, .info, .warning {padding:.8em;margin:1em;border:2px solid #ddd; border-radius: 5px;}
.error, .warning {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice, .info {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}

textarea {
 width: 90%;
}

div.headers div.extra {
 display: none;
}

div.headers div.from {
 cursor: pointer; 
 cursor: hand;
}

div.mailheader {
 background: transparent url(letter.png);
 height: 10px;
}

div#pages ul li {
 color: #006e96;
}

div.rightcol {
 color: #006e96;
}

div.rightcol p {
 margin-top: 20px;
}

div.rightcol ol {
 font-size: 1.3em;
}

div.rightcol h2,
div.rightcol h3 {
 background: transparent url(bluegrad.png) repeat-x; 
 color: white;
 padding: 5px;
 font-weight: bolder;
 margin-left: -20px;
 margin-top: 20px;
}

h2#startbutton {
 background: transparent url(redbuttonleft.png) no-repeat; 
 padding-left: 35px;
}

h2#startbutton a {
 color: white;
 text-decoration: none;
}

div#newmessage {
 background-color: white;
}

div#mailthread {
 padding: 10px;
}

div.mail {
 background-color: white;
 min-height: 500px;
}

table.mailbody {
  padding: 10px;
}

table.mailbody th,
table.mailbody td {
 padding: 0;
 vertical-align: top;
}

table.mailbody input {
 margin: 5px;
}

div.bottom-space {
 background: white;
}