<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% block css %}
      <link rel="icon" type="image/x-icon" href="{{ MEDIA_URL }}favicon.ico" />
      <link rel="stylesheet" href="{{ MEDIA_URL }}screen.css" type="text/css" media="screen, projection"/>
      <link rel="stylesheet" href="{{ MEDIA_URL }}print.css" type="text/css" media="print"/>
<!--[if IE]><link rel="stylesheet" href="{{ MEDIA_URL }}ie.css" type="text/css" media="screen, projection"/><![endif]-->
      <link rel="stylesheet" type="text/css"  media="screen" href="{{ MEDIA_URL }}main.css" />
    {% endblock %}
    {% block js %}
    <script type="text/javascript" src="{{ MEDIA_URL }}jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}code.js"></script>
    {% endblock %}

    {% block extra-head %}{% endblock %}
  </head>

  <body id="section-{% block section %}home{% endblock %}">
    {% block header %}

    <div id="header" class="container">

     <div id="logo" class="span-10 last">
      <h1><a href="/"><img src="{{ MEDIA_URL }}logo.png" /></a></h1>
     </div>

     <div id="pages" class="span-5">
      <ul>
       {% if user.is_anonymous %}
       <li id="loginlink"><a href="{% url login_form %}">Sign in</a></li>
       {% else %}
       <li>Logged in as {{user.email}} <a href="{% url logout %}">Sign out</a></li>
       {% endif %}
        {% for page in pages %}
        <li{% if forloop.last %} class="lastnav"{% endif %}><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
        {% block navigation %}
        {% endblock %}
       </ul>
     </div>

    </div>
       
    {% endblock %}


    <div id="main" class="container">
    <div class="mail span-5">
    <div class="mailheader"></div>
     {% if messages %}
     <ul class="messages">
         {% for message in messages %}
         <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
         {% endfor %}
     </ul>
     {% endif %}

     {% block content %}
     {% endblock %}
    </div>

    <div class="rightcol span-5 last">
     {% include "fragments/sidebar.html" %}
    </div>
        
   
    </div>

  </body>
</html>
