<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% block css %}
      <link rel="icon" type="image/x-icon" href="{{ MEDIA_URL }}favicon.ico" />
      <link rel="stylesheet" href="{{ MEDIA_URL }}screen.css" type="text/css" media="screen, projection"/>
      <link rel="stylesheet" href="{{ MEDIA_URL }}print.css" type="text/css" media="print"/>
<!--[if IE]><link rel="stylesheet" href="{{ MEDIA_URL }}ie.css" type="text/css" media="screen, projection"/><![endif]-->
      <link rel="stylesheet" type="text/css"  media="screen" href="{{ MEDIA_URL }}main.css" />
    {% endblock %}
    {% block js %}
    <script type="text/javascript" src="{{ MEDIA_URL }}code.js"></script>
    {% endblock %}

    {% block extra-head %}{% endblock %}
  </head>

  <body id="section-{% block section %}home{% endblock %}">
    {% block header %}

    <div id="header" class="container">

     <div id="logo" class="span-3 last">
      <h1><a href="/"><img src="{{ MEDIA_URL }}logo.png" /></a></h1>
     </div>

     <div id="pages" class="span-2">
      <ul>
        <li><a href="/">Home</a></li>
        {% for page in pages %}
        <li{% if forloop.last %} class="lastnav"{% endif %}><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
        {% block navigation %}
        {% endblock %}
       </ul>
     </div>
     <div id="actions" class="span-1 last">
      <ul>
       {% if user.is_anonymous %}
       <li id="loginlink"><a href="{% url login_form %}">Sign in</a></li>
       {% else %}
       <li><a href="{% url logout %}">Sign out</a></li>
       {% endif %}
      </ul>
     </div>

    </div>
       
    {% endblock %}


    <div id="main" class="container">

   {% block content %}

   
   {% endblock %}

    </div>

  </body>
</html>
